body{
    background: url(https://img.freepik.com/foto-gratis/fondo-atardecer-cielo-pastel_53876-129041.jpg)no-repeat center center fixed;
    background-size: cover;
  }
.titulo-principal{
text-align: center;
text-decoration: solid;
color: #E82561;
font-family: "Fjalla One", serif;
font-weight: 400;
font-style: norma;
}
.titulo-secundario{
font-family: "Fjalla One", serif;
font-weight: 400;
font-style: norma;
color: #0D92F4;

}
.texto-principal{
font-family: "Fjalla One", serif;
font-weight: 400;
font-style: norma
}
.Imagen {
    text-align: center;
    margin: 10px auto; 
    padding: 10px; 
    border-radius: 10px;
    width: 300px;
    background-color: #f9f9f9; 
    border: 1px solid black; 
}

.Imagen img {
    max-width: 100%; 
    height: auto;
}
.Imagendos {
    float: left; 
    margin-left: 20px; 
    width: 300px; 
}

.Imagendos img {
    max-width: 200%; 
    height: auto; 
    border-radius: 15px; 
    border: 1px solid black; 
}
.contenedor-principal {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    gap: 20px; 
}

.contenedor-lateral {
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; 
}

.contenedor-central {
    width: 50%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contenedor-central img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.contenido-central p {
    text-align: left; 
}
.imagen3{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}
